@media screen and (max-width:1031px) {
    .hero {
        &__content {
            flex-wrap: wrap-reverse;
            text-align: center;
            justify-content: center;

        }
        &__right {
            margin-top: -80px;
            margin-bottom:-150px;
        }
        &__left {
            margin-bottom: 40px;
        }
        
    }
}
@media screen and (max-width:533px) {
    .hero {
        &__elips {
            width: 300px;
        }
        &__img {
            width: 150px;
        }
        
        
    }
    .header {
        &__list {
            display: none;
        }
        &__title {
            @include font (900, 50px, #00C1EC);
            margin-left: 60px;
        }
        &__content {
            display: flex;
            justify-content: center;
        }
    }
}
@media screen and (max-width:430px) {
    
    .hero {
        &__title {
            @include font (600, 50px, #fff);
           
        }
        &__subtitle {
            @include font (300, 30px, #fff); 
            
        }
    }
    .port {
        &__img {
            max-width: 100%;
        }
    }
        
        
    
}
@media screen and (max-width:350px) {
    .contacts {
        &__btn {
            margin-left: 5px;
            margin-right: 5px;  
        }
        &__btn1 {
            margin-left: 5px;
            margin-right: 5px;  
        }
        &__btn2 {
            margin-left: 5px;
            margin-right: 5px;  
        }
        &__btn3 {
            margin-left: 5px;
            margin-right: 5px;  
        }
        &__btn4 {
            margin-left: 5px;
            margin-right: 5px;  
        }
    }
}