.port {
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);

    &__content {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__img {
        width: 400px;
    }

    &__text {
        @include font (600, 30px, #fff);
        padding-top: 30px;
    }
}